a:link {
    color: rgb(76, 170, 203);
  }
  
  /* visited link */
  a:visited {
    color: rgb(76, 170, 203);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 255, 255);
  }
  
  /* selected link */
  a:active {
    color: rgb(11, 72, 123);
  } 

.top-section {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(27, 64, 91);
    background-color:rgb(236, 242, 246);
    flex-direction:row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding-left: 10px;
}

.about-me {
    background-color:rgb(236, 242, 246);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(27, 64, 91);
    display: flex;
}

.am-details {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(27, 64, 91);
    flex: 1;
    padding-left: 30px;
}

.flex-wallpaper {
    min-height: 100%;
    width: 100%;
    margin: 1px;
}

.work {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(27, 64, 91);
    background-color:rgb(160, 191, 213);
    display: flex;
} 

.flexbox-container {
display: flex;
flex-wrap: wrap;
padding-left: 70px;
height: auto;
}

.flexbox-container > *:nth-child(1) {
    flex: 1 1 70%;
}

.flexbox-container > *:nth-child(2) {
    flex: 1 1 40%;
}

.flexbox-container > *:nth-child(3) {
    flex: 1 1 40%;
}

.flexbox-container > *:nth-child(4) {
    flex: 1 1 40%;
}

.flexbox-container > *:nth-child(5) {
    flex: 1 1 40%;
}

.flexbox-item-1 {
    min-height: 200px;
    width: 100%;
    margin: 1px;
    opacity: 80%;
}

.flexbox-item-1:hover {
    opacity: 100%;
    transition: opacity 1s;
}

.flexbox-item-2 {
    min-height: 200px;
    width: 100%;
    margin: 1px;
    opacity: 80%;
}

.flexbox-item-2:hover {
    opacity: 100%;
    transition: opacity 1s;
}

.flexbox-item-3 {
    min-height: 200px;
    width: 100%;
    margin: 1px;
    opacity: 80%;
}

.flexbox-item-3:hover {
    opacity: 100%;
    transition: opacity 1s;
}

.flexbox-item-4 {
    min-height: 200px;
    width: 100%;
    margin: 1px;
    opacity: 80%;
}

.flexbox-item-4:hover {
    opacity: 100%;
    transition: opacity 1s;
}

.bottom-section {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(27, 64, 91);
    background-color:rgb(236, 242, 246);;
    flex-direction:row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}